@import "src/assets/styles/utils/variables";

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: $bg-color;
    font-family: 'Montserrat', sans-serif!important;

    > * {
        color: $secondary-color;
    }
}
